<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>175349501550-7sg8rqc31larth66mb7eorgc51kk7c7i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.175349501550-7sg8rqc31larth66mb7eorgc51kk7c7i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>175349501550-bl3j5fvc9j5kut4t65so8lp8msul5alo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCnl48GWENOTfgQdJzSfYKtNHBApvqUtHg</string>
	<key>GCM_SENDER_ID</key>
	<string>175349501550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groceryAdminPanel</string>
	<key>PROJECT_ID</key>
	<string>grocery-app-55f6d</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery-app-55f6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175349501550:ios:1fca8a0fc32a7df27da07f</string>
</dict>
</plist>